@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}
main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    max-width: calc(100vw - 80px);
    margin: 40px;
    
}

.left-main {
 margin-right: 80px;
}

.logo {
    margin: 40px;

}

.input-area {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    height: inherit;
    justify-content: space-around;

}

#text-box {
    background: none;
    color: #0A3871;
    font-size: 32px;
    border: none;
    height: fit-content;
}


#text-box::placeholder {
    color: #0A3871;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cta {
    align-items: center;
    justify-content: space-between;
}

.info {
    align-items: center;
    font-size: 12px;
    display: flex;
    color: #495057;
    margin-bottom: 16px;
}

.button-1 {
    height: 67px;
    width: 49%;
    border-radius: 24px;
    background: #0A3871;
    color: #FFFFFF;
    margin-right: 1%;
}

.button-2 {
    height: 67px;
    width: 49%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #D8DFE8;
    color: #0A3871;
    align-items: flex-end;
}

.button-copy {
    margin-top: 32px;
    height: 67px;
    width: 98%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: inherit;
    color: #0A3871;
    margin-right: 1%;
}

.output-area {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;
    width: 100%;
}

.output-area :nth-child(2){
    margin-top: 32px;
    font-weight: 700;

}

.output-message {
    font-size: 16px;
    padding: 32px;

}

footer {
    background: #0A3871;
    
}


@media screen and (max-width: 414px) {
    .body {
        width: 100vw;
    }
    main {
        margin: 0;
        flex-direction: column;
        width: 100vw;
        box-sizing: border-box;
        justify-content: flex-start;
        height: fit-content;
    }

    .logo {
        margin: 16px 0 80px 0;
    }

    .left-main {
        width: 100%;
        margin: 0;
    }

    .input-area {
        padding-left: 0;
        width: 100vw;
    }

    .cta {
        flex-direction: column;
        justify-content: center;
    }

    .button-1 {
        width: 98%;
        margin-bottom: 24px;
    }

    .button-2 {
        width: 98%;
    }

    .output-area {
        box-sizing: border-box;
        margin: 64px 24px 0 24px;
        margin-top: 64px;
        width: 100%;
        overflow-y: none;
        height: fit-content;
    }

    .output-area img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .body {
        width: 100vw;
    }
    main {
        width: 100vw;
        padding: 40px;
        margin: 0;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
        height: fit-content;
    }

    .logo {
        margin: 0 0 40px 0;
    }

    .left-main {
        margin: 0;
    }

    .input-area {
        width: 100vw;
        padding-left: 0;
    }

    .output-area {
        margin-top: 64px;
        width: 100vw;
        overflow-y: none;
        height: fit-content;
    }

    .output-area img {
        display: none;
    }
}